.header {
	line-height:0.8rem;
}
.return {
	background:url(../images/jb_03.png) center center no-repeat;
	width:0.4rem;
	height:0.4rem;
	background-size:auto 100%;
	position:absolute;
	top:0.2rem;
	left:0.2rem;
}
.main {
	padding-bottom:1.2rem;
}

/*举报*/
.check {
	background:url(../images/jb_09.png) center no-repeat;
	width:16px;
	height:16px;
	background-size:100% 100%;
}
.check.on {
	background:url(../images/jb_07.png) center no-repeat;
	background-size:100% 100%;
}
.textarea {
	width:94%;
	padding:0.2rem 3%;
	box-shadow:0.05rem 0.05rem 0.1rem #dcdcdc inset;
	
}
.vote {
	background:#2e8adf;
	width:100%;
	height:0.8rem;
}


/*搜索*/

.s_txt {
	background:url(../images/s_03.png) 3% center no-repeat;
	background-size:5% auto;
	height:0.7rem;
	width:91%;
	padding-left:9%;
	line-height:0.7rem;
}
.s_span {
	background:url(../images/s_07.png) center no-repeat;
	width:20px;
	height:20px;
	background-size:100% 100%;
}
.s_span.on {
	background:url(../images/jb_07.png) center no-repeat;
	background-size:100% 100%;
}

/*推荐职位*/
.nav {
	background:url(../images/nav.png) center center no-repeat;
	background-size:100% auto;
	position:inherit;
	float:left;
}
.Action {
	position:absolute;
	right:0.2rem;
}
/*完善资料*/
.txt {
	width:98%;
	padding-left:2%;
	line-height:0.6rem;
	background:url(../images/2_03.png) right center no-repeat;
	background-size:13px auto;
	border:0;
}
.t_w70 {
	width:60%;
}

.yzm {
	border:1px solid #2e8adf;
	padding:0.05rem 0.1rem;
}
.zl_span {
	border-radius:50%;
      width:0.5rem;
    height:0.5rem;
    background:#1159b9;
}
.zl_span02 {
    background:#fc643f;
}
.zl_span03 {
    background:#ffac34;
}

/*我的关注*/
.yp {
	border:1px solid #1159b9;
	color:#1159b9;
	padding:0.05rem 0.2rem;
	border-radius:0.4rem;
	background:none;
}
.gz {
	border:1px solid #fe7f19;
	color:#fe7f19;
}
.nav_bottom {
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
}
.nav_bottom li {
	width:25%;
}
.nav_bottom li a {
	display:block;
	padding-top:0.7rem;
	padding-bottom:0.05rem;
}
.n_bg1 {
	background:url(../images/footer_01.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg1.on {
	background:url(../images/h_01.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg2 {
	background:url(../images/footer_04-03.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg2.on {
	background:url(../images/h_07.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg3 {
	background:url(../images/footer_04.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg3.on {
	background:url(../images/h_04.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg4 {
	background:url(../images/footer_10.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.n_bg4.on {
	background:url(../images/h_10.png) center 0.2rem no-repeat;
	background-size:auto 0.5rem;
}
.wdgz>div {
	width:49.5%;
	line-height:0.35rem;
}


/*应聘记录*/
.tg_bg_pass {
	background:url(../images/y_03.png) right bottom no-repeat;
	background-size:60px auto;
}
.tg_bg_fail {
	background:url(../images/y_03.png) right bottom no-repeat;
	background-size:60px auto;
}
.tab_title li {
	width:20%;
}
.tab_title li a {
	display:block;
	padding:0.15rem 0;
}
.tab_title li a.on {
	background:#1159b9;
	color:#fff;
}

.gz_a {
	border:1px solid #1159b9;
	padding:0.15rem 0.3rem;
	background:url(../images/z_03_01.png) 0.2rem center no-repeat;
	background-size:25px auto;
	padding-left:45px;
}
.gz_a:hover {
	color:#fff;
	background:url(../images/h2_01.png) 0.2rem center no-repeat #1159b9;
    background-size:25px auto;
}
.yp_a {
	background:url(../images/z_03_06.png) 0.2rem center no-repeat;
	background-size:25px auto;
}
.yp_a:hover {
	color:#fff;
	background:url(../images/h2_06.png) 0.2rem center no-repeat #1159b9;
    background-size:25px auto;
}
.jb_a {
	background:url(../images/z_03_04.png) 0.2rem center no-repeat;
	background-size:25px auto;
}
.jb_a:hover {
	color:#fff;
	background:url(../images/h2_02.png) 0.2rem center no-repeat #1159b9;
    background-size:25px auto;
}



/*加载页*/

/*首页*/

.swiper-container {width: 100%;height: 100%;color: #000;text-align: center;}
.swiper-slide {overflow: hidden;position: relative;}
.head1 {background: url(../images/bg_02.png) center center no-repeat;background-size:100% 100%;}
.n2 {background: url(../images/bg_02.png) center center no-repeat;background-size:100% 100%;}
.n3 {background: url(../images/bg_02.png) center center no-repeat;background-size:100% 100%;}
.n4 {background: url(../images/bg_02.png) center center no-repeat;background-size:100% 100%;}
.arrow {
	position: fixed;
	z-index: 100;
	width: 6%;
	height: 1rem;
	background: url(../images/up_03.png) center center no-repeat;
	background-size:100% auto;
	bottom: 6%;
	left: 47%;
	text-align: center;

	animation: arrowUp 2s infinite ease-in;
	-webkit-animation: arrowUp 2s infinite ease-in;
}
@keyframes arrowUp {
    0% {transform:translateY(42px);opacity: 0;}
    60% {transform:translateY(12px); opacity: 1;}
    100% {transform:translateY(0px); opacity: 0;}
}
@-webkit-keyframes arrowUp {
    0% {-webkit-transform:translateY(42px);opacity: 0;}
    60% {-webkit-transform:translateY(12px); opacity: 1;}
    100% {-webkit-transform:translateY(0px); opacity: 0;}
}
.link_a {
	border:1px solid #fff;
	border-radius:0.1rem;
	padding:0.05rem 0.2rem;
	position:absolute;
	bottom:15%;
	left:50%;
	margin-left:-40px;
}

/*菜单*/


.aligncontent-center {
    text-align: center;
}

.sidebar {
	background:url(../images/left_bg.png) center center no-repeat;
	background-size:100% 100%;
}

.main-header {
    text-align: center;
    font-weight:300;
    font-size: 90%;
}

.menu-button {
  position: relative;
  margin: 5px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.menu-button:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 3px;
  border-bottom: 17px double #b0120a;
  border-top: 6px solid #b0120a;
  width: 30px;
  height: 5px;
}

.menu-left {
  float: left;
  margin-right: 1.5em;
}

.sidebar {
    margin: 0;
}
.left_span {
	border-radius:50%;
	width:28px;
	line-height:28px;
	text-align:center;
	border:1px solid #fa2d65;
	color:#fa2d65;
}
.left_span01 {
	border:1px solid #01ae73;
	color:#01ae73;
}
.left_span02 {
	border:1px solid #fabe22;
	color:#fabe22;
}

.page {display: none;position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;overflow: hidden;}
#datescroll div{float: left;margin-left: 10%;margin-top: 15px;padding-right: 22px;}
#datescroll_datetime div{float: left;margin-left: 10%;padding-right: 22px;}
#yearwrapper{position: absolute;left: 0;top:45px;bottom: 60px;width:80%;}
#monthwrapper{position: absolute;left: 26%;top:45px;bottom: 60px;width:80%;}
#daywrapper{position: absolute;left: 50%;top:45px;bottom: 60px;width:80%;}
#Hourwrapper{position: absolute;left: 0;top:195px;bottom: 68px;width:80%;}
#Minutewrapper{position: absolute;left: 26%;top:195px;bottom: 68px;width:80%;}
#Secondwrapper{position: absolute;left: 50%;top:195px;bottom: 68px;width:80%;}
#Hourwrapper ul li{color: #898989;font-size: 12px;}
#Minutewrapper ul li{color: #898989;font-size: 12px;}
#Secondwrapper ul li{color: #898989;font-size: 12px;}
#yearwrapper ul li{color: #898989;font-size: 12px;}
#monthwrapper ul li{color: #898989;font-size: 12px;}
#daywrapper ul li{color: #898989;font-size: 12px;}
#markyear{position:relative; margin-left: 76px;top:-2px;}
#markmonth{position:relative; margin-left: 40px;top:-2px;}
#markday{position:relative; margin-left: 42px;top:-2px;}
#markhour{position:relative; margin-left: 62px;top:-2px;}
#markminut{position:relative; margin-left: 58px;top:-2px;}
#marksecond{position:relative; margin-left: 68px;top:-2px;}
#dateheader{width: 100%;height: 50px;background: #79C12F;text-align: center;color: #fff;line-height: 50px;font-size: 20px;}
#setcancle ul{text-align: center;line-height: 30px; margin:1px auto;font-size: 20px;}
#setcancle ul li{border-radius:3px;float: left;width: 40%;height: 30px;list-style-type: none;font-family:'microsoft yahei';font-size:16px;}
#dateconfirm{position: absolute;background:#79C12F;left:20px;color:#fff;}
#datecancle{position: absolute;background:  #dcdddd;right:20px;width: 40%;color:#666;}
#dateshadow{display: none;position: absolute;width: 100%;height: 100%;top:0;left:0;background: #000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}
#datePage{font-size: 22px; border-radius: 3px; position:absolute;top:110px;MARGIN-RIGHT: auto;vertical-align:middle;
MARGIN-LEFT: auto;width: 80%;;height: 240px;background: #FFFFFF;z-index:9999999;}
#datetitle{width: 100%;height:50px;background: #79C12F;text-align: center;color: #fff;line-height: 50px;font-size: 20px;font-family:'microsoft yahei';}
#datetitle h1{font-weight:normal;}
#datemark{font-size: 18px;left:5%;width: 90%;height: 20px;position:absolute;top:108px;background:#eee;border:1px solid #eee;}
#timemark{font-size: 18px;left:5%;width: 90%;height: 20px;position:absolute;top:242px;background:#eee;border:1px solid #eee;}
#datescroll{background: #F8F8F8;width:94%; margin:10px 3%;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#datescroll_datetime{display: none;background:#F8F8F8;width:94%; margin:10px 3%;margin-top: 10px;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#yearwrapper ul,#monthwrapper ul,#daywrapper ul{width:40%;}
#Hourwrapper ul,#Minutewrapper ul,#Secondwrapper ul{width:40%;}
#dateFooter{width:100%;background: #fff;height: 50px;bottom: 0px;position: absolute;}
























